# dataset allocation by roll number

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv(r"D:\cse-273\class practise\top_insta_influencers_data.csv")
df.head()

,rank,channel_info,influence_score,posts,followers,avg_likes,60_day_eng_rate,new_post_avg_like,total_likes,country
0,1,cristiano,92,3.3k,475.8m,8.7m,1.39%,6.5m,29.0b,Spain
1,2,kyliejenner,91,6.9k,366.2m,8.3m,1.62%,5.9m,57.4b,United States
2,3,leomessi,90,0.89k,357.3m,6.8m,1.24%,4.4m,6.0b,NaN
3,4,selenagomez,93,1.8k,342.7m,6.2m,0.97%,3.3m,11.5b,United States
4,5,therock,91,6.8k,334.1m,1.9m,0.20%,665.3k,12.5b,United States

In [6]:
df.tail()

,rank,channel_info,influence_score,posts,followers,avg_likes,60_day_eng_rate,new_post_avg_like,total_likes,country
195,196,iambeckyg,71,2.3k,33.2m,623.8k,1.40%,464.7k,1.4b,United States
196,197,nancyajram,81,3.8k,33.2m,390.4k,0.64%,208.0k,1.5b,France
197,198,luansantana,79,0.77k,33.2m,193.3k,0.26%,82.6k,149.2m,Brazil
198,199,nickjonas,78,2.3k,33.0m,719.6k,1.42%,467.7k,1.7b,United States
199,200,raisa6690,80,4.2k,32.8m,232.2k,0.30%,97.4k,969.1m,Indonesia

In [7]:
df.isna().sum()

rank                  0
channel_info          0
influence_score       0
posts                 0
followers             0
avg_likes             0
60_day_eng_rate       0
new_post_avg_like     0
total_likes           0
country              62
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rank               200 non-null    int64
 1   channel_info       200 non-null    object
 2   influence_score    200 non-null    int64
 3   posts              200 non-null    object
 4   followers          200 non-null    object
 5   avg_likes          200 non-null    object
 6   60_day_eng_rate    200 non-null    object
 7   new_post_avg_like  200 non-null    object
 8   total_likes        200 non-null    object
 9   country            138 non-null    object
dtypes: int64(2), object(8)
memory usage: 15.8+ KB

In [9]:
df.shape

(200, 10)

In [10]:
df.columns

Index(['rank', 'channel_info', 'influence_score', 'posts', 'followers',
       'avg_likes', '60_day_eng_rate', 'new_post_avg_like', 'total_likes',
       'country'],
      dtype='object')

In [41]:
type('60_day_eng_rate')

str

In [12]:
df["channel_info"]

0        cristiano
1      kyliejenner
2         leomessi
3      selenagomez
4          therock
          ...
195      iambeckyg
196     nancyajram
197    luansantana
198      nickjonas
199      raisa6690
Name: channel_info, Length: 200, dtype: object

In [11]:
df['followers']

0      475.8m
1      366.2m
2      357.3m
3      342.7m
4      334.1m
        ...
195     33.2m
196     33.2m
197     33.2m
198     33.0m
199     32.8m
Name: followers, Length: 200, dtype: object

In [14]:
df[["channel_info","followers"]]

    channel_info followers
0      cristiano    475.8m
1    kyliejenner    366.2m
2       leomessi    357.3m
3    selenagomez    342.7m
4        therock    334.1m
..           ...       ...
195    iambeckyg     33.2m
196   nancyajram     33.2m
197  luansantana     33.2m
198    nickjonas     33.0m
199    raisa6690     32.8m

[200 rows x 2 columns]

In [18]:
df[["channel_info","country"]]

    channel_info        country
0      cristiano          Spain
1    kyliejenner  United States
2       leomessi            NaN
3    selenagomez  United States
4        therock  United States
..           ...            ...
195    iambeckyg  United States
196   nancyajram         France
197  luansantana         Brazil
198    nickjonas  United States
199    raisa6690      Indonesia

[200 rows x 2 columns]

In [19]:
df.sort_values("followers", ascending=False)

,rank,channel_info,influence_score,posts,followers,avg_likes,60_day_eng_rate,new_post_avg_like,total_likes,country
33,34,dualipa,74,1.3k,85.9m,2.1m,1.26%,1.1m,2.6b,United Kingdom
34,35,gal_gadot,85,1.7k,85.6m,1.4m,0.69%,586.5k,2.3b,United States
35,36,vindiesel,88,1.8k,82.3m,1.4m,0.60%,482.3k,2.5b,United States
36,37,nasa,88,3.6k,81.3m,1.2m,1.53%,1.2m,4.2b,United States
37,38,priyankachopra,85,3.6k,81.1m,1.6m,1.00%,802.9k,5.6b,United States
...,...,...,...,...,...,...,...,...,...,...
28,29,realmadrid,90,6.9k,123.4m,996.2k,0.48%,588.3k,6.8b,Spain
29,30,champagnepapi,85,5.2k,119.6m,1.7m,1.10%,1.3m,9.0b,Netherlands
30,31,chrisbrownofficial,86,7.3k,118.5m,463.2k,0.22%,255.9k,3.4b,United States
31,32,fcbarcelona,90,10.0k,111.4m,1.2m,0.64%,706.3k,11.6b,NaN
32,33,billieeilish,73,0.69k,105.2m,8.5m,5.02%,5.2m,5.9b,NaN

In [27]:
df.sort_values(["followers", "posts", "total_likes"], ascending=False)[["channel_info", "followers", "posts", "country","total_likes","new_post_avg_like"]]

,channel_info,followers,posts,country,total_likes,new_post_avg_like
33,dualipa,85.9m,1.3k,United Kingdom,2.6b,1.1m
34,gal_gadot,85.6m,1.7k,United States,2.3b,586.5k
35,vindiesel,82.3m,1.8k,United States,2.5b,482.3k
36,nasa,81.3m,3.6k,United States,4.2b,1.2m
37,priyankachopra,81.1m,3.6k,United States,5.6b,802.9k
...,...,...,...,...,...,...
28,realmadrid,123.4m,6.9k,Spain,6.8b,588.3k
29,champagnepapi,119.6m,5.2k,Netherlands,9.0b,1.3m
30,chrisbrownofficial,118.5m,7.3k,United States,3.4b,255.9k
31,fcbarcelona,111.4m,10.0k,NaN,11.6b,706.3k
32,billieeilish,105.2m,0.69k,NaN,5.9b,5.2m

In [40]:
df.sort_values(["channel_info", "avg_likes"], ascending=False)

,rank,channel_info,influence_score,posts,followers,avg_likes,60_day_eng_rate,new_post_avg_like,total_likes,country
193,194,zidane,41,0.37k,33.5m,1.1m,1.61%,532.7k,391.9m,France
22,23,zendaya,87,3.5k,150.7m,5.8m,3.17%,4.8m,20.6b,United States
118,119,zayn,82,0.16k,46.5m,4.7m,8.81%,4.0m,773.5m,United States
83,84,zacefron,86,0.66k,54.5m,2.3m,8.18%,4.4m,1.5b,United States
153,154,worldstar,78,11.6k,39.2m,157.4k,0.23%,84.4k,1.8b,United States
...,...,...,...,...,...,...,...,...,...,...
148,149,addisonraee,85,0.30k,40.1m,3.1m,2.49%,994.4k,957.9m,NaN
39,40,Shakira,88,2.0k,76.1m,975.1k,0.41%,304.7k,1.9b,NaN
73,74,9gag,86,10.0k,58.1m,672.6k,0.44%,248.6k,6.7b,United States
117,118,5-Minute Crafts GIRLY,85,10.0k,46.5m,157.0k,0.03%,12.4k,1.6b,United States
95,96,433,79,10.3k,51.2m,863.2k,1.52%,774.2k,8.9b,Netherlands

In [33]:
df.groupby("country")["channel_info"].count()

country
Anguilla                   1
Australia                  1
Brazil                    13
British Virgin Islands     1
Canada                     3
Colombia                   3
Czech Republic             1
CÃ´te d'Ivoire             1
France                     6
Germany                    1
India                     12
Indonesia                  7
Italy                      1
Mexico                     2
Netherlands                2
Puerto Rico                1
Russia                     1
Spain                      5
Sweden                     1
Switzerland                1
Turkey                     2
United Arab Emirates       1
United Kingdom             4
United States             66
Uruguay                    1
Name: channel_info, dtype: int64

In [37]:
df.groupby("country")["followers"].max()

country
Anguilla                  41.6m
Australia                 55.9m
Brazil                    67.7m
British Virgin Islands    36.0m
Canada                    69.9m
Colombia                  62.8m
Czech Republic            35.9m
CÃ´te d'Ivoire            43.7m
France                    61.9m
Germany                   33.7m
India                     70.4m
Indonesia                 63.5m
Italy                     49.0m
Mexico                    35.5m
Netherlands               51.2m
Puerto Rico               45.9m
Russia                    33.5m
Spain                     56.9m
Sweden                    38.5m
Switzerland               40.8m
Turkey                    66.2m
United Arab Emirates      47.3m
United Kingdom            85.9m
United States             85.6m
Uruguay                   66.9m
Name: followers, dtype: object

In [30]:
df.groupby("country")["followers"].sum().sort_values(ascending=False)

country
United Kingdom                                         85.9m59.6m54.1m39.9m
India                     70.4m68.9m68.7m68.4m66.3m62.7m55.6m53.5m50.2m4...
Uruguay                                                               66.9m
Turkey                                                           66.2m42.1m
Indonesia                               63.5m52.4m48.9m40.0m38.8m36.9m32.8m
Colombia                                                    62.8m49.9m43.4m
France                                       61.9m55.2m48.7m36.5m33.5m33.2m
Australia                                                             55.9m
Italy                                                                 49.0m
Spain                                           475.8m123.4m56.9m43.2m40.0m
United Arab Emirates                                                  47.3m
Puerto Rico                                                           45.9m
CÃ´te d'Ivoire                                                        43.7m
Anguilla                                                              41.6m
Switzerland                                                           40.8m
Sweden                                                                38.5m
United States             366.2m342.7m334.1m329.2m327.7m272.8m268.3m254....
British Virgin Islands                                                36.0m
Czech Republic                                                        35.9m
Mexico                                                           35.5m34.7m
Germany                                                               33.7m
Russia                                                                33.5m
Canada                                                     254.5m69.9m33.6m
Brazil                    177.1m67.7m58.7m58.1m53.9m46.5m44.5m43.9m41.8m...
Netherlands                                                     119.6m51.2m
Name: followers, dtype: object